<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Daily Progress Report</h1>
    <form action="post_create" method="post">
        {% csrf_token %}
        Work Assigned:
        <input type="text" name="work"><br><br>
        Progress:
        <textarea rows="5" cols="40" name="progress"></textarea>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>