<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
</head>
<body>
    <form action="post_logged" method="post">
        {% csrf_token%}
        Email:
        <input type="email" name="email">
        <br>   <br>
        Password:
        <input type="password"  name="pass">
        <br>   <br>
        <input type="submit" value="sign-in">
     
        <button type="button">
            <a href="{% url 'sign-up' %}">Sign Up</a>
        </button>
           <p style="color: black;padding: 10px 0;">Forgot Password? <a href="/reset/" style="color: black;">Click Here to Reset</a></p>

        <button type="button">
            <a href="{% url 'facebook' %}">Facebook sign-up</a>
        </button>
    </form>

    
    
</body>
</html>



